

body {
    /* background-color:lightsteelblue; */
    background-color:rgb(185, 163, 207);

}

header {
    color:white;
    font-size: 15px;
    text-align: center;}

h1 { 
    color:white;
    font-size: 10px;
    text-align:left;
    margin:0px;
}


textarea { 
    text-align:center;
}

#start {
    color: rgb(91, 94, 138);
 background-color:rgb(42, 36, 48);

}

p {
    color: whitesmoke;
}

#start {
    color:blanchedalmond;
    font-size: 9px;
    align-content:  center;
}

#start:hover {
background-color:blue;
}

#start:active {
background-color:blue;}

p {

    font-size: 14px;
    text-align: center;

}
.hide {
    display: none;
}

#Question2 {
    display:none;
}

#Question3 {
    display:none;
}


h1 {
    display:none;
    color: black;
    text-align:center;
}

h2 { display:none;
color:black;
text-align: center;
}

#start { 
    margin-left: 235px;
}
/* #submit
{


} */ 