

body { color:white;
    /* background-color:lightsteelblue; */
    background-color:rgb(185, 163, 207);
text-align:center;
}

header {
   
    font-size: 15px;
    text-align: left;}

header p { 
    color:white;
    font-size: 15px;
    text-align:right;
    margin:0px;
    position:static;
}

section .introduction {
font-size:16px;
color:white;
}
 h2 {
font-size: 20px;
color:white;
text-align:center;}

p {

    text-align: center;
}
 #start {
   color: white;
 background-color:rgb(42, 36, 48);
}
#start:hover {
    background-color:blue;
    }
    
    #start:active {
    background-color:blue;}
    
p {
    color: whitesmoke;
}

.hide {
display:none;
} 
/* .questions {
color:white;
} */

h1 {
    color:white;
}
h2 {
    color:white;
}
h3 {
    color:white;
}